.toc {
  position: fixed;
  top: 0;
  left: 0;
}

.toc button {
  line-height: 1.5em;
  font-size: 1.25em;
  text-align: center;
  width: 1.5em;
  padding: 0;
  border: 1px solid #eaecef;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.toc .anchorjs-link {
  display: none;
}

.toc-panel {
  display: none;
  background-color: white;
  border: 1px solid #eaecef;
  padding: 1em;
  max-height: 80vh;
  overflow: auto;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.toc-panel h2 {
  font-size: 1em;
}

.toc-panel ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.toc.expanded .toc-panel {
  display: inline-block;
}
