<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% seo %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    {% include toc.html %}
    
    <div class="container-lg px-5 my-5 markdown-body">

      {% include header.html %}
    
      <main>
        {{ content }}
      </main>
    
      {% include footer.html %}

    </div>
  </body>
</html>
